// Font property
$font-fam-1: 'Prompt', sans-serif;
$font-fam-2: 'Open Sans', sans-serif;
$font-size: 14px;

// Color property
$color-main-1: #00AFEF;
$color-main-2: #91D8F7;
$color-main-3: rgba(0, 175, 239, 0.8);
$color-main-4: rgba(145, 216, 247, 0.5);
$color-main-5: rgba(255, 255, 255, 0.9);
$color-main-6: rgba(37, 37, 37, 0.05);
$color-shade-1: #FFFFFF;
$color-shade-2: #DEDEDE;
$color-shade-3: #9A9A9A;
$color-shade-4: #787878;
$color-shade-5: #252525;
$color-shade-6: #111111;
