form{
  &:not(.navbar-form):not(.form-inline){
    .form-group{
      margin: 0px;
      &+ .form-group,
      &+ .btn{
        margin-top: 15px;
      }
    }
  }
}
input[type=radio]{
  border: 2px solid $color-shade-1;
  outline: none !important;
}
