.lyt-fullscreen{
  position: absolute;
  width: 100%;
  height: 100%;
}

.lyt-vertical{
  display: table;
  width: 100%;
  height: 100%;
  > .wrapper{
    display: table-cell;
    vertical-align: middle;
  }
}

.lyt-theme{
  background: $color-main-5;
  &.inverse{
    background: $color-main-3;
  }
}

hr.clear{
  border-color: transparent;
  &.sm{
    margin: 5px 0px;
  }
  &.md{
    margin: 10px 0px;
  }
  &.lg{
    margin: 20px 0px;
  }
}
